.column {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.25); /* 70% opacity */
    border-radius: 5px;
    height: 800px;
 
  }
  
  .column h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .column p {
    font-size: 1rem;
  }