.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("../../assets/MeahAICollage.png") ;
    background-size: cover; /* Makes the image cover the entire container */
    background-position: center; /* Centers the image */
 
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates 6 equal columns */
    gap: 0px; /* Space between columns */

  }
  
  /* Responsive styles */
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
  }
  
  @media (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr; /* 1 column on very small screens */
    }
  }